@font-face {
    font-family: Abel;
    src: url(font/Abel-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Sunshiney;
    src: url(font/Sunshiney.ttf) format('truetype');
}
@font-face {
    font-family: Sunday;
    src: url(font/Sunday-Regular.ttf) format('truetype');
}

/*body*/
body{
    margin: 0;
}

/*header*/
header{
    background-image: url("image/headerimg.png");
    background-size: 1440px 210px;
    width: 1440px;
    height: 210px;
}
#Title{
    width: 1440px;
    height: 142px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Title a{
    color: white;
    text-decoration: none;
    font-family: "Sunday";
}
#nav ul{
    list-style: none;
    color: white;
    width: 1440px;
    height: 68px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
#nav ul li{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
#nav ul a{
    color: white;
    text-decoration: none;
    font-family: "Sunshiney";
    font-size: 20px;
}
#nav ul a:hover{
    color: yellow;
    text-shadow: 2px 2px 2px darkorange;
}
#center{
    display: flex;
    width: 1440px;
}

/*main*/
main{
    width: 1099px;
    height: 717px;
}
#top, #bottom{
    height: 358.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.one, .two, .three{
    width: 235px;
    height: 320px;
    border-radius: 15px;
}

/*main-album*/
#threeam, #dynamite, #waves, #babyblue, #ohmygirl, #howwerock{
    display: none;
}
.album{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 170px;
    height: 165px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black_circle{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white_circle{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

/*main-Text*/
.title ,.artist{
    font-family: Abel;
}
.content{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.genre{
    width: 210px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 14px;
}
.genre img{
    width: 28px;
    height: 26px;
}
.leftside{
    width: 65px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.icon{
    background-image: url("image/blankheart.png");
    background-size: 28px 26px;
    margin-top: 5px;
    width: 28px;
    height: 26px;
}
.icon:active{
    background-image: url("image/heart.png");
    background-size: 31px 31px;
    width: 31px;
    height: 31px;
}
.music_stop{
    background-image: url("image/music_stop.png");
    background-size: 35px 37px;
    width: 35px;
    height: 37px;
}
.music_stop:hover{
    background-image: url("image/music_stop.png");
    background-size: 32px 34px;
    width: 32px;
    height: 34px;
}
.genre div{
    text-align: end;
}
.title{
    font-size: 30px;
}
.title:hover{
    color: white;
}
#bottom .two .title{
    font-size: 25px;
}
.artist{
    font-size: 17px;
}
.image:hover{
    -webkit-animation: rotation 4s infinite linear;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(360deg);}
}
#top .one .image{
    background-image: url("image/3am.png");
    background-size: 170px 165px;
}
/*main-top-two*/
#top .two .image{
    background-image: url("image/dynamite.png");
    background-size: 170px 165px;
}
#top .three .image{
    background-image: url("image/waves.png");
    background-size: 170px 165px;
}
#bottom .one .image{
    background-image: url("image/babyblue.png");
    background-size: 170px 165px;
}
#bottom .two .image{
    background-image: url("image/살짝 설렜어.png");
    background-size: 170px 165px;
}
#bottom .three .image{
    background-image: url("image/How we rock.png");
    background-size: 170px 165px;
}
/*aside*/
aside{
    border-left : 1px #C4C4C4 solid;
    width: 341px;
    height: 717px;
    display: flex;
    flex-direction: column;
}
#search{
    margin-top: 30px;
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search img{
    width: 42.26px;
    height: 23px;
}
#search div{
    border-bottom: 2px black dashed;
    width: 220px;
    height: 30px;
}
#player{
    width: 341px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#recommand{
    letter-spacing: 0.175em;
    font-family: Sunshiney;
    color: #117C89;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 10px;
}
#Wantyouback{
    display: none;
}
#player .image{
    margin-top: 30px;
    margin-bottom: 20px;
    background-image: url("image/Want you back.png");
    background-size: 170px 165px;
}
#player_title{
    font-family: Sunshiney;
    font-size: 25px;
    letter-spacing: 0.175em;
}
#player_artist{
    font-family: Sunshiney;
    font-size: 15px;
    letter-spacing: 0.175em;
}
#music_player{
    width: 150px;
    height: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#left{
    width: 30px;
    height: 30px;
}
#right{
    width: 30px;
    height: 30px;
}
#mid{
    width: 30px;
    height: 30px;
}
#mid:hover, #left:hover, #right:hover{
    width: 35px;
    height: 35px;
}
#lyrics{
    width: 300px;
    height: 160px;
    text-align: center;
    font-family: Sunshiney;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 0.055em;
}
#paper{
    position: absolute;
    margin-top: 484px;
    margin-right: 71px;
    background-image: url("image/paper.png");
    background-size: 390px 196px;
    width: 344px;
    height: 180px;
}
/*footer*/
footer{
    font-family: Sunshiney;
    border-top : 1px #C4C4C4 solid;
    width: 1440px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#messanger{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyright{
    text-align: center;
}
#facebook{
    width: 50px;
}
#instagram{
    width: 40px;
}
@media(max-width: 480px){
    header{
        background-size: 100% 100%;
        width: 110%;
        height: 195px;
    }
    #Title{
        width: 100%;
        font-size: 35px;
    }
    #Title a{
        color: white;
        text-decoration: none;
    }
    #nav ul{
        width: 92.5%;
        display: flex;
        justify-content: space-around;
    }
    #nav ul li{
        margin-right: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }
    center{
        display: flex;
        width: 480px;
    }
    main{
        margin-top: 20px;
        width: 480px;
        height: 750px;
    }
    #top, #bottom{
        margin-left: 45px;
        height: 358.5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .album{
        width: 80px;
        height: 100px;
    }
    .album .image{
        background-size: 80px 80px;
        width: 80px;
        height: 80px;
    }
    .one, .two, .three{
        width: 500px;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
    .content{
        width: 150px;
        height: 95px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .genre{
        width: 190px;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0px;
    }
    .genre img{
        width: 28px;
        height: 26px;
    }
    .icon{
        background-image: url("image/blankheart.png");
        background-size: 28px 26px;
        width: 28px;
        height: 26px;
    }
    aside{
        display: none;
    }
    footer{
        width: 110%;
    }
}